.App {
  text-align: center;
}

.slider {
  position: relative;
  width: 70%;
  margin: auto;
}

.slider-content {
  display: flex;
  overflow-x: hidden;
}

.slide {
  display: none;
  width: 100%;
}

.slide.active {
  display: block;
}

.person-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: auto;
}

.person-name {
  margin-top: 20px;
}

.person-title {
  font-style: italic;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 18px;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
